.confirm_page {
    margin-bottom: 55px;
}

.confirm_text {
    display: flex;
    justify-content: center;
    font-weight: 400;
    margin-bottom: 40px;
}

.preconfirm_text {
    font-size: larger;
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin: 40px;
}