.dashboard_page {
    margin-bottom: 55px;
}

.dashboard_text {
    display: flex;
    justify-content: center;
    font-weight: 400;
    margin-bottom: 40px;
}

.bookings_text {
    display: flex;
    justify-content: center;
    font-weight: 300;
    margin-bottom: 40px;
    padding-top: 50px;
}

