.equipment_page {
    margin-bottom: 55px;
    padding: 0;
    width: 100%;
    display: flex;
}

.equipment_title {
    font-weight: 300;
    margin: 60px;
}

.dates_title {
    font-size: larger;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    margin: 40px;
    margin-left: 10%;
}

.booking_dates {
    display: flex;
    margin-top: 50%;
    
        
      
}

.dates_container {
    position: fixed;
    width: 50%;
    top: 50%; /* Adjust to position vertically */
    left: 90%;
    right: 10%;
    transform: translate(-50%, -50%);
    /* max-width: 50%; */
    /* width: 100%;    */
}

