.footer {
    position: fixed;
    bottom: 0;
    height: 55px;
    width: 100%;
    background-color: #d4e8ff;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-top: solid;
}

.address {
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    width: 50%;
    margin-bottom: 0px;
    padding-left: 10%;
}

.abn {
    font-weight: 300;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-bottom: 0px;
    padding-right: 10%;
}

