.header_logo {
    height: 100px;
    width: auto;
    
    display: flex;
    align-items: flex-start;
    background-color: #b7b9b8;
    
}

.grey_logo {
    height: 100px;
    width: auto;
    object-fit: contain;
}

.tagline {
    background-color: #b7b9b8;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0px;
    padding-right: 6px;
}