.header_logo {
    height: 100px;
    width: auto;
    padding: 8px;
    display: flex;
    align-items: flex-start;
    background-color: #b7b9b8;
    
}

.grey_logo {
    height: 100px;
    width: auto;
    object-fit: contain;
}

.tagline {
    background-color: #b7b9b8;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0px;
    padding: 8px;
    font-style: italic;
    font-weight: 300;
    font-size: larger; 
}