.login_container {
    display: flex;
    justify-content: center;
    
}

.login_text {
    font-weight: 400;
    margin: 60px;
    display: flex;
    justify-content: center;
}

.button {
    margin-bottom: 24px;
    width: 140px;
}

.loading_text {
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: x-large;
    color: black;
}

.register_text {
    font-size: large;
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.error_div {
    display: flex;
    justify-content: center;
}

.error {
    font-weight: 400;
    font-size: larger;
    border: solid;
    border-radius: 8px;
    margin: 0px;
    height: 55px;
    width: 40%;
    margin-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(208, 43, 43);
    background-color: rgb(241, 209, 214);
}